* {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100%;
    
}
.carousel-item img {
    height: 100vh;
    background-size: cover;
    

}

.glass-wrapper {
    width: 40%;
    margin:0 auto;
    overflow: hidden;
    min-height: 400px;
    padding:50px;
    box-sizing:border-box;
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
    border-radius:8px;
    position: relative;
    
}

.glass {
    width: 160%;
    height: 40px;
    opacity: .1;
    background: #fff;
    position: absolute;
    top: 114px;
    left: 200px;
    z-index: 9;
    border-radius: 50%;
  }
  

h1{
    position: relative;
    z-index: 10;
    color: white;
    font-size: 60px;
    font-family: 'Merienda';
    font-style: oblique;
    text-align: center;
    top: 200px;
    
}

p{
    position: relative;
    z-index: 10;
    color: white;
    font-size: large;
    font-family: 'Mulish';
    top: 350px;
}

h1::first-letter {
    color: #FDBB10;
    font-size: 40px;
}

